<div class="zone-selector-main">
  <div class="header">Selector</div>
  <div class="zone-selector-sub">
    <div class="run-mode-class">
      <div>Run Mode?</div>
      <mat-checkbox class="check-box" [(ngModel)] ="isChecked" (change)="start()"></mat-checkbox>
    </div>
    <div class="zone-selector">
      <div class="zone-header-top">
        <div>Back</div>
        <div>Left</div>
      </div>
      <mat-radio-group
        class="zone-radio-group"
        [(ngModel)]="zoneValue"
        (ngModelChange)="onChange(zoneValue)"
      >
        <mat-radio-button
          class="example-radio-button"
          *ngFor="let zone of zoneSelector"
          [value]="zone"
        >
        </mat-radio-button>
      </mat-radio-group>
      <div class="zone-header-bottom">
        <div>Front</div>
        <div>Right</div>
      </div>
    </div>
  </div>
</div>

<div>Time: {{ timeValue }}</div>
