<div class="sprinkler-main">
  <app-zone-selector
    [isPowerOn]="isChecked"
    [zoneValue]="selectedZone"
    (sendSelectedZone)="sendZone($event)"
  ></app-zone-selector>
  <app-zone-configuration
    [isPowerOn]="isChecked"
    [zoneValue]="selectedZone"
    [zoneOrder]="selectedZoneOrder"
    [zoneTime]="selectedZoneTime"
    (sendSelectedOrder)="sendOrder($event)"
    (sendSelectedTime)="sendTime($event)"
  ></app-zone-configuration>
  <!-- <div></div>
  <div></div> -->
</div>
<div class="power-restart">
  <mat-slide-toggle
    [(ngModel)]="isChecked"
    (toggleChange)="toStartApplication()"
    >Slide Toggle</mat-slide-toggle
  >
</div>
